/* General Classes */

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
 margin: 0;
}

/* Clearing float*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Styles for header */

header {
  background-color: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

header ul {
  list-style: none;
  margin: 0;
  text-align: center;
  width: 100%;
}

header li {
  display: inline-block;
}

/* Styles for main menu */

.main-menu {
  border-bottom: 1px solid #D3D3D3;
  padding: 10px 20px 13px;
}

.logo {
  margin: 0 10px;
}

.logo a {
  color: #BD081C;
  transition: color 0.2s;
}

.logo a:hover {
  color: #000;
}

.logo i {
  height: 100%;
  vertical-align: middle;
}

.search {
  border-radius: 6px;
  background-color: #EFEFEF;
  margin: 0 20px;
  text-align: left;
  width: 70%;
}

.search-box, .search-filter {
  display: inline-block;
}

.search-box {
  width: 85%;
  padding: 10px 0 10px 30px;
}

.search-box form {
  display: inline-block;
  width: 90%;
}

.search-box input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0;
  width: 100%;
}

.search-filter {
  padding: 10px 10px 10px 0;
}

.search-filter span {
  font-weight: 700;
}

.gray-icon {
  margin: 0 10px;
  padding: 0 10px;
}

.gray-icon i {
  color: #B5B5B5;
}
/* Styles for filter menu*/

.filter-menu {
  padding: 10px 20px;
}

.filter-menu li {
  border-radius: 6px;
  height: 60px;
  margin: 5px;
  background-color: gray;
  overflow: hidden;
}

.filter-menu span {
  color: #FFF;
  display: block;
  font-weight: 700;
  line-height: 60px;
  padding: 0 24px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.filter-menu .box-1 {
  background-image: url("../assets/images/background1.jpg");
}

.filter-menu .box-2 {
  background-image: url("../assets/images/background2.jpg");
}

.filter-menu .box-3 {
  background-image: url("../assets/images/background3.jpg");
}

.filter-menu .box-4 {
  background-image: url("../assets/images/background4.jpg");
}

.filter-menu .box-5 {
  background-image: url("../assets/images/background5.jpg");
}

.filter-menu .box-6 {
  background-image: url("../assets/images/background6.jpg")
}

.filter-menu .box-7 {
  background-image: url("../assets/images/background7.jpg")
}

.filter-menu .box-8 {
  background-image: url("../assets/images/background8.jpg")
}

.filter-menu .box-9 {
  background-image: url("../assets/images/background9.jpg")
}

.filter-menu .button-1 span {
  background: rgba(194,149,110,0.5);
}

.filter-menu .button-2 span {
  background: rgba(150,110,75,0.8);
}

.filter-menu .button-1 span {
  background: rgba(194,149,110,0.5);
}

.filter-menu .button-2 span {
  background: rgba(150,110,75,0.8);
}

.filter-menu .button-1 span {
  background: rgba(194,149,110,0.5);
}

.filter-menu .button-2 span {
  background: rgba(150,110,75,0.8);
}

.filter-menu .button-1 span {
  background: rgba(194,149,110,0.5);
}

.filter-menu .button-2 span {
  background: rgba(150,110,75,0.8);
}

.filter-menu .button-1 span {
  background: rgba(194,149,110,0.5);
}

/* Styles for search results */

.search-result {
  margin: 170px 80px 50px;
  min-width: 900px;
  column-count: 4;
  column-gap: 20px;
}

.image {
  margin-bottom: 20px;
  display: inline-block;
}

.image img {
  border-radius: 20px;
  margin-bottom: 15px;
  width: 100%;
}

/* Styles for post info */

.post, .share {
  float: left;
}

.post {
  width: 70%;
}

.share {
  width: 30%;
}

.user-name {
  font-weight: 700;
}

.first-letter {
  background-color: #D597A1;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
}

.first-letter span {
  color: #FFF;
  line-height: 30px;
}

.hashtag {
  margin-left: 35px;
}

.share {
  color: #B5B5B5;
  font-size: 10px;
}
